<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    	<link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>
   		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   		<script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>
<title>ROI</title>
<!-- for-mobile-apps -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>



<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Victory Pro Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android  Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
		
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>

<!-- //js -->
<link href="css/ihover.css" rel="stylesheet" media="all">
<link href="css/hover_pack.css" rel="stylesheet" media="all">

<!-- fonts -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //fonts -->
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		
	<!-- start-smoth-scrolling -->
<script src="js/hover_pack.js"></script>
</head>
<body ng-controller="ctrl1">
<!-- header -->
<div class="header">
	<div class="container">
		<div class="logo">
			<h1>
				<a href="index.html">
					<span class="glyphicon glyphicon-education" aria-hidden="true"></span>Return of Investment on Colleges	
					
				</a>
			</h1>
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header -->
<!-- banner -->
<div class="banner">
	<div class="container">
	<!-- navigation -->
		<div class="navigation">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li class="hvr-underline-from-left button2 active"><a class="scroll" href="#home">Home <span class="sr-only">(current)</span></a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#about">ABOUT</a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#services">Services</a></li>
						<li class="hvr-underline-from-left button2"><a class="scroll" href="#gallery">GALLERY</a></li>
						
					  </ul>
					<div class="search">
						<!-- start search-->
						<div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
									<input class="sb-search-submit" type="submit" value="">
									<span class="sb-icon-search"> </span>
								</form>
							</div>
						</div>
						<!-- search-scripts -->
						<script src="js/classie.js"></script>
						<script src="js/uisearch.js"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->

					</div>
				  <div class="clearfix"></div>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
	<!-- //navigation -->
		<div class="banner-info">
			<script src="js/responsiveslides.min.js"></script>
			<script>
									// You can also use "$(window).load(function() {"
									$(function () {
									 // Slideshow 4
									$("#slider3").responsiveSlides({
										auto: true,
										pager: true,
										nav: true,
										speed: 500,
										namespace: "callbacks",
										before: function () {
									$('.events').append("<li>before event fired.</li>");
									},
									after: function () {
										$('.events').append("<li>after event fired.</li>");
										}
										});
										});
			</script>
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="banner-text">
							<h3>PREDICTING ROI ON INSTITUTES OF THE U.S.A</h3>
							
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>LOOKING FOR GOOD COLLEGES? WE HAVE GOT WHAT YOU NEED</h3>
							
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3>MAKE YOUR SEARCH EASIER HERE!!</h3>
							
						</div>
					</li>
				</ul>
			</div>	
		</div>
		<div class="more-button">
			<a href="#about" class="hvr-rectangle-out button scroll">SEE MORE ABOUT US</a>
		</div>
	</div>
</div>
<!-- //banner -->
<!--banner-bottom-->
<div class="banner-bottom">
	<div class="container">
		<h3 class="tittle">WELCOME TO OUR APPLICATION</h3>
		<div class="col-md-1"> </div> 
		<div class="col-md-2 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/sonika.jpg" alt="img"></div>
                      <div class="info">
                        <h4>SONIKA ARORA</h4>
                        <p>Mean Stack end to end</p>
                        <p>Naive Bayes algorithm</p>
                      </div>
					</a>
				</div>
		</div>
		<div class="col-md-2 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/shruthi.jpg" alt="img"></div>
                      <div class="info">
                        <h4>SHRUTI KANGOKAR</h4>
                        <p>Cleansing raw data in R</p>
                        <p>Mongo and integration</p>
                      </div>
					</a>
				</div>
		</div>
		<div class="col-md-2 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/navin.jpg" alt="img"></div>
                      <div class="info">
                        <h4>NAVIN KUMAR PATIL</h4>
                        <p>Leaflet/Maps </p>
                        <p>Preprocessing Data </p>
                      </div>
					</a>
				</div>
		</div>
		<div class="col-md-2 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/divya.jpg" alt="img"></div>
                      <div class="info">
                        <h4>DIVYA CHAKILLAM</h4>
                        <p>Preprocessing</p>
                        <p>R Analysis</p>
                      </div>
					</a>
				</div>
		</div>
		<div class="col-md-2 bottom-grid">
                <div class="ih-item circle effect3 bottom_to_top">
					<a href="#">
                      <div class="img"><img src="images/swathi.jpg" alt="img"></div>
                      <div class="info">
                        <h4>SWATHI SUDARSHAN</h4>
                        <p>Front end template builidng</p>
                        <p>R feature selection</p>
                      </div>
					</a>
				</div>
		</div>
	</div>
</div>
<!--//banner-bottom-->
<!--about-->
<div id="about" class="about">
	<div class="container">
		<h3 class="tittle">ABOUT</h3>
		<div class="about-grids">
			<div class="col-md-7 about-left-one">
				<img src="images/bg2.jpg" alt="" />
			</div>
			<div class="col-md-5 about-left-two">
				<!-- <h4>SELECTION OF COLLEGES</h4> -->
				<h4> Education is always an investment. Both in terms of money and time. 
				But the advantage is, always there is a return on this investment. And in this
				application we are predicting the Return on Investment for Institutions in the 
				U.S.A based on the type of degree, salary of the alumni after graduation, tuition
				fees, graduation rate of the university and demographics. </h4>  
			</div>
			<div class="clearfix"></div>
		</div>
		
	</div>
</div>
<!--//about-->
<!--special-->
<div class="special">
	<div class="container">
		<h3 class="tittle">SPECIALIZATIONS</h3>
		<h2>WE PREDICT THE RETURN OF INVESTMENT ON YOUR EDUCATION</h2>
	</div>
</div>
<!--//special-->
<!--services-->
<div id="services" class="services">
	<div class="container">
		<a href="home"><h3 class="tittle">SERVICES</h3></a>
		
		<!-- <div class="col-md-3 ser-grid">
			<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
				<a href="#" class="hi-icon glyphicon glyphicon-pencil"></a>
				<h4>SED UT PERSPICIATIS</h4>
				<p>At vero eos et accusamus 
				et iusto odio dignissimos ducimus 
				qui blandit dolores. </p>
			</div>
		</div> -->
		<div class="clearfix"></div>
	</div>
</div>
<!--//services-->
<!--gallery-->
<div id="gallery" class="gallery">
	<div class="container">
		<h3 class="tittle t-two">GALLERY</h3>
		 <script src="js/lightbox.js"></script>
		<div class="col-md-4 gallery-grid">
			<a href="images/g1.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g1.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">BRIGHAM YOUNG UNIVERSITY</h4>
					<p class="b-from-right b-animate b-delay03">Private research university located in Provo, Utah, United States</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g2.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g2.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">COLUMBIA UNIVSERSITY</h4>
					<p class="b-from-right b-animate b-delay03">Columbia University is a private, Ivy League, research university in Upper Manhattan, New York City. It was established in 1754 as King's College by royal charter of George II of Great Britain. </p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g3.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g3.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">HARVEY MUDD COLLEGE</h4>
					<p class="b-from-right b-animate b-delay03">Harvey Mudd College is a private residential liberal arts college of science, engineering, and mathematics, founded in 1955 and located in Claremont, California, United States. .</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g4.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g4.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">NEW YORK UNIVERISTY</h4>
					<p class="b-from-right b-animate b-delay03">New York University is a private, nonsectarian American research university based in New York City. Founded in 1831, NYU is one of the largest private non-profit institutions of American higher education.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g5.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g5.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">RUTGERS THE STATE UNIVERISTY OF NEW JERSEY</h4>
					<p class="b-from-right b-animate b-delay03">Rutgers, The State University of New Jersey, commonly referred to as Rutgers University, Rutgers, or RU, is an American public research university and the largest institution for higher education in New Jersey.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g6.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g6.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">SAN JOSE STATE UNIVERSITY</h4>
					<p class="b-from-right b-animate b-delay03">San Jose state is the founding school of the 23 campus California State University (CSU) system, and is oldest institution of higher education on the West Coast of the United States.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g7.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g7.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">STANFORD UNIVERISTY</h4>
					<p class="b-from-right b-animate b-delay03">Stanford was founded in 1885 by Leland Stanford, former Governor of and U.S. Senator from California and his wife, Jane Lathrop Stanford, in memory of their only child, Leland Stanford Jr., who had died of typhoid fever.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g8.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g8.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">UNIVERSITY OF CALIFORNIA BERKELY</h4>
					<p class="b-from-right b-animate b-delay03">he University of California, Berkeley (also referred to as Berkeley, UC Berkeley, California or simply Cal)[7] is a public research university located in Berkeley, California.</p>
				  </div>
			</a>
		</div>
		<div class="col-md-4 gallery-grid">
			<a href="images/g2.jpg" data-lightbox="example-1" data-title="Victory Pro" class="b-link-stroke b-animate-go example-image-link"><div class="b-bottom-line"></div><div class="b-top-line"></div>
				  <img src="images/g2.jpg" alt="" />
				  <div class="b-wrapper">
				  	<h4 class="b-from-left b-animate b-delay03">UNIVERSITY OF CALIFORNIA SANTA BARBARA</h4>
					<p class="b-from-right b-animate b-delay03">The University of California, Santa Barbara (commonly referred to as UC Santa Barbara or UCSB) is a public research university and one of the 10 campuses of the University of California system. The main campus is located on a 1,022-acre (414 ha) site near Goleta, California, </p>
				  </div>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--//gallery-->


<!-- //footer -->
<!--footer-bottom-->
	<div class="footer-bottom">
		<div class="container">		
				
			
		</div>
	</div>
<!--//footer-->	
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>

</html>